<!doctype html>



    <div class="tp-caption large text-center" data-x="center" data-hoffset="" data-y="center" data-voffset="-75" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 9; white-space: nowrap; font-family: 'Avenir'; word-spacing: 1px; font-weight:300; text-transform:none;">


    Hello, I'm Joanne Cho

    </div>