body, html {
    height: 100%;
	background-color: #fff;
}

/* font balancing for entire web page
html { font-size: 90.5%; }
body { font-size: 1.4rem;}
h1 { font-size: 2.4rem; }
*/

.divider {
  margin-top: 1.5rem !important;
  margin-bottom: 2.5rem !important;
  border-color:black;
  opacity:0.5;
  max-width:60%;
}

.bg-black {
  background-color: #000000 !important;
}

.sectionPaddingTop {
	margin-top:50px;
}

.hero {
	background: url("/images/sf2.jpg");
	opacity: 0.95;
	background-repeat:no-repeat;
	background-size: cover;
	height: 100vh;
	position:relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color: #fff;
}

.hero-name {
	font-size: 5vmax;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 10px;
	margin:0;
}

.hero-sub {
	font-size: 2vmax;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 150%;
	letter-spacing: 3px;
	font-style: italic;
	font-weight:200;
}

.aboutHello {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size:25px;
	letter-spacing:3px;
}

.infoText {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 50px;
}

.resPort {
	font-family: 'Nunito Sans', sans-serif;
}




 
.animatedName {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 1s;
}


@keyframes fadeInUpName {
  from {
    opacity: 0;
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpName {
  animation-name: fadeInUpName;
}



.animatedSub {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 2.5s;
}


@keyframes fadeInUpSub {
  from {
    opacity: 0;
    transform: translate3d(0, 400%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpSub {
  animation-name: fadeInUpSub;
}







.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight:500;
  line-height: 1.25;
  border-radius: 0rem;
  transition: all 0.15s ease-in-out;
}

.btn-primary {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: #0069d9;
  background-image: none;
  border-color: #0062cc;
}